@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*< --------------------------------------------------- CONFIGURAÇÕES GERAIS ---------------------------------------------------------->*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*< --------------------------------------------------- VARIÁVEIS --------------------------------------------------------------------->*/

:root{
    --cor-fundo: #1A5276;
    --botoes: #1ABC9C;
    --cor-titulo: #F0D060;
    --titulo: "Playfair Display";
    --texto: "DM Sans";
}

/*< --------------------------------------------------- CORPO --------------------------------------------------------------------->*/

body{
    background-color: white;
}

/*< ---------------------------------------------------CABEÇALHO--------------------------------------------------------->*/

header{
    min-height: 100vh;
    background-color: var(--cor-fundo);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 35px;
    gap: 10px;
}

header > h1{
    font-family: var(--titulo);
    font-size: 21vw;
    margin-bottom: 20px;
}

header > .itanhaem{
    font-size: 22vw;
}

header > .saovicente{
    font-size: 18vw;
}

header > .santos{
    font-size: 30vw;
}

header > .bertioga{
    font-size: 24vw;
}

header > .cubatao{
    font-size: 24vw;
}

header > .guaruja{
    font-size: 25vw;
}

header > .mongagua{
    font-size: 20vw;
}

header > .peruibe{
    font-size: 26vw;
}

header > .praiagrande{
    font-size: 15.5vw;
}

header > h1 > span{
    color: var(--cor-titulo);
}

header > a{
    background-color: var(--botoes);
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1.7em;
    border-radius: 10px;
    font-family: var(--texto);
    transition: background-color 0.3s, color 0.3s;
}

header > a:hover{
    background-color: #12705d;
    color: white;
}

/*< --------------------------------------------------MAIN ---------------------------------------->*/
main > h2{
    text-align: center;
    font-size: 2em;
    font-family: var(--titulo);
    margin-bottom: 30px;
}

main > p{
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 20px;
    font-family: var(--texto);
}

.imagem{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
/*< ------------------------------IMAGENS 1 ----------------------------------------->*/
#imagem1-it{
    background-image: url(../images/itanhaem/itanhaem-1.jpg);
}

#imagem1-sv{
    background-image: url(../images/sao-vicente/saovicente-1.jpg);
}

#imagem1-san{
    background-image: url(../images/santos/santos-1.jpg);
}

#imagem1-ber{
    background-image: url(../images/bertioga/bertioga-1.jpg);
}

#imagem1-cub{
    background-image: url(../images/cubatao/cubatao-1.webp);
}

#imagem1-gua{
    background-image: url(../images/guaruja/guaruja-1.jpg);
}

#imagem1-mon{
    background-image: url(../images/mongagua/mongagua-1.webp);
}

#imagem1-per{
    background-image: url(../images/peruibe/peruibe-1.jpg);
}

#imagem1-pg{
    background-image: url(../images/praia-grande/praiagrande-1.jpg);
}
/*< ------------------------------IMAGENS 2 ----------------------------------------->*/

#imagem2-it{
    background-image: url(../images/itanhaem/itanhaem-2.jpg);
}

#imagem2-sv{
    background-image: url(../images/sao-vicente/saovicente-2.jpg);
}

#imagem2-san{
    background-image: url(../images/santos/santos-2.jpg);
}

#imagem2-ber{
    background-image: url(../images/bertioga/bertioga-2.jpg);
}

#imagem2-cub{
    background-image: url(../images/cubatao/cubatao-2.jpg);
}

#imagem2-gua{
    background-image: url(../images/guaruja/guaruja-2.webp);
}

#imagem2-mon{
    background-image: url(../images/mongagua/mongagua-2.jpg);
}

#imagem2-per{
    background-image: url(../images/peruibe/peruibe-2.webp);
}

#imagem2-pg{
    background-image: url(../images/praia-grande/praiagrande-2.webp);
}

/*< ------------------------------IMAGENS 3 ----------------------------------------->*/

#imagem3-it{
    background-image: url(../images/itanhaem/itanhaem-3.webp);
}

#imagem3-sv{
    background-image: url(../images/sao-vicente/saovicente-3.jpeg);
}

#imagem3-san{
    background-image: url(../images/santos/santos-3.webp);
}

#imagem3-ber{
    background-image: url(../images/bertioga/bertioga-3.jpeg);
}

#imagem3-cub{
    background-image: url(../images/cubatao/cubatao-3.jpg);
}

#imagem3-gua{
    background-image: url(../images/guaruja/guaruja-3.jpg);
}

#imagem3-mon{
    background-image: url(../images/mongagua/mongagua-3.webp);
}

#imagem3-per{
    background-image: url(../images/peruibe/peruibe-3.jpg);
}

#imagem3-pg{
    background-image: url(../images/praia-grande/praiagrande-3.jpg);
}

/*< ------------------------------IMAGENS 4 ----------------------------------------->*/

#imagem4-it{
    background-image: url(../images/itanhaem/itanhaem-4.jpg);
}

#imagem4-sv{
    background-image: url(../images/sao-vicente/saovicente-4.jpg);
}

#imagem4-san{
    background-image: url(../images/santos/santos-4.avif);
}

#imagem4-ber{
    background-image: url(../images/bertioga/bertioga-4.jpg);
}

#imagem4-cub{
    background-image: url(../images/cubatao/cubatao-4.jpeg);
}

#imagem4-gua{
    background-image: url(../images/guaruja/guaruja-4.png);
}

#imagem4-mon{
    background-image: url(../images/mongagua/mongagua-4.jpg);
}

#imagem4-per{
    background-image: url(../images/peruibe/peruibe-4.webp);
}

#imagem4-pg{
    background-image: url(../images/praia-grande/praiagrande-4.jpg);
}

/*< ---------------------------------------------------RODAPÉ------------------------------------------------------>*/

footer{
    padding: 20px;
    background: var(--cor-fundo);
    display: flex;
    justify-content: center;
    
}

footer > a{
    display: inline;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-family: var(--texto);
    border: 1px solid var(--botoes);
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

footer > a:hover{
    background-color: var(--botoes);
}