@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/*< --------------------------------------------------- CONFIGURAÇÕES GERAIS ---------------------------------------------------------->*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*< --------------------------------------------------- VARIÁVEIS --------------------------------------------------------------------->*/

:root{
    --cor-fundo: #1A5276;
    --botoes: #1ABC9C;
    --cor-titulo: #F0D060;
    --titulo: "Playfair Display";
    --texto: "DM Sans";
}

/*< --------------------------------------------------- CORPO --------------------------------------------------------------------->*/

body{
    background-color: white;
}

/*< ---------------------------------------------------CABEÇALHO--------------------------------------------------------->*/

header{
    min-height: 100vh;
    background-color: var(--cor-fundo);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 35px;
    gap: 10px;
}

header > h1{
    font-family: var(--titulo);
    font-size: 12vw;
    margin-bottom: 20px;
}

header > h1 > span{
    color: var(--cor-titulo);
}

header > a{
    background-color: var(--botoes);
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1.7em;
    border-radius: 10px;
    font-family: var(--texto);
    transition: background-color 0.3s, color 0.3s;
}

header > a:hover{
    background-color: #12705d;
    color: white;
}

/*< --------------------------------------------------MAIN ---------------------------------------->*/

main > h2{
    text-align: center;
    font-size: 3.6em;
    font-family: var(--titulo);
    margin-bottom: 30px;
}

/*< ---------------------------------------------------REGIÃO------------------------------------------------------>*/

#regiao > p{
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 20px;
}

#regiao > #curiosidades{
    display: grid;
    grid-template-columns:  auto 1fr 1fr auto;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 10px;
    margin-bottom: 20px;
}

#curiosidades > div{
    width: 100%;
    height: 100px;
    background-color: var(--cor-fundo);
    border-radius: 10px;
}

#curiosidades > .localizacao{
    grid-column: 1 / 3;
}

#curiosidades h4{
    color: var(--cor-titulo);
    text-align: center;
    margin-top: 5px;
    font-family: var(--titulo);
}

#curiosidades p{
    color: white;
    text-align: center;
    font-family: var(--texto);
    font-size: 0.9em;
}

#curiosidades > .territorio{
    grid-column: 3 / -1;
}

#curiosidades > .porto{
    grid-column: 1 / -1;
    grid-row: 2 / -1;
}

/*< ---------------------------------------------------CIDADES------------------------------------------------------>*/

main > #imagens{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    gap: 30px;
    justify-items: center;
    margin-bottom: 40px;
}

#imagens > .cidades{
    background-color: blue;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.37);
    transition: box-shadow 0.5s;
}

#imagens > .cidades:hover{
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.658);
}

#imagens > .cidades{
    background-repeat: no-repeat;
    background-size: cover;
}

#imagens  h3{
    text-decoration: none;
    color: var(--botoes);
    font-size: 2.5em;
    text-align: center;
    font-family: var(--titulo);
}

#imagens > a{
    text-decoration: none;
}

#imagens > #itanhaem{
    background-image: url(../images/itanhaem/itanhaem-1.jpg);
}

#imagens > #saovicente{
    background-image: url(../images/sao-vicente/saovicente-1.jpg);
}

#imagens > #santos{
    background-image: url(../images/santos/santos-1.jpg);
}

#imagens > #bertioga{
    background-image: url(../images/bertioga/bertioga-1.jpg);
}

#imagens > #cubatao{
    background-image: url(../images/cubatao/cubatao-2.jpg);
}

#imagens > #guaruja{
    background-image: url(../images/guaruja/guaruja-1.jpg);
}

#imagens > #mongagua{
    background-image: url(../images/mongagua/mongagua-1.webp);
}

#imagens > #peruibe{
    background-image: url(../images/peruibe/peruibe-1.jpg);
}

#imagens > #praiagrande{
    background-image: url(../images/praia-grande/praiagrande-1.jpg);
}

/*< ---------------------------------------------------TRANSPORTE------------------------------------------------------>*/

#transporte{
    margin-bottom: 30px;
}

#transporte p{
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 20px;
}

#transporte > #meios-transporte{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#transporte > #meios-transporte > div{
    width: 90%;
    height: 100px;
    background-color: var(--cor-fundo);
    border-radius: 10px;
    margin: auto;
}

#transporte > #meios-transporte > div > h4{
    color: var(--cor-titulo);
    text-align: center;
    margin-top: 5px;
    font-size: 1.2em;
    font-family: var(--titulo);
}

#transporte > #meios-transporte > div > p{
    color: white;
    text-align: center;
    font-family: var(--texto);
    font-size: 1em;
}

/*< ---------------------------------------------------RODAPÉ------------------------------------------------------>*/

footer{
    padding: 20px;
    background: var(--cor-fundo);
}

footer > p{
    color: white;
    font-family: var(--texto);
    text-align: center;
}

footer > p > span{
    font-weight: bolder;
}