@charset "UTF-8";

/*------------------------------------- Media para Tablets -----------------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width: 1024px) {
    #regiao{
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-template-rows: 1fr 1fr;
    }

    #regiao > .segunda-parte{
        grid-column: 1 / 2;
        grid-row: 2 / -1;
    }

    #regiao > #curiosidades{
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #regiao > #curiosidades > .localizacao{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    #regiao > #curiosidades > .territorio{
        grid-column: 1 / -1;
        grid-row: 2 / -1;
    }

    #regiao > #curiosidades > .porto{
        grid-column: 1 / -1;
        grid-row: 3 / -1;
    }

    main > #imagens{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
    }

    #itanhaem{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #santos{
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #cubatao{
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    #mongagua{
        grid-column: 1 / 2;
        grid-row: 8 / 9;
    }

    .titulo-praiagrande{
        grid-column: 1 / -1;
        grid-row: 9 / -1;
    }

    #praiagrande{
        grid-column: 1 / -1;
        grid-row: 10 / -1;
    }
}